/* Write your code here */
.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  color: white;
  font-size: 35px;
}
.flex-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: transparent;
  outline: none;
  border: 0px;
}
.unit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para1 {
  color: white;
}
